<%= render partial: "layouts/sidebar" %>

<div class="panelwrap">
	<div id="background">
		<div class="row">
			<div class="small-12 medium-12 large-12 columns">
				
				<%= render partial: "layouts/header" %>


					<div class="wrapper_wide">
						<h1>
						Be mindful, everywhere you go.
						</h1>
						<a href="#selection" class="button button_highlight">Breathe.</a>
						<%= link_to "Explore", posts_path, class: "button button_white" %>
					</div>
				</div>
			</div>
	</div>


	<div id="intro">
		<div class="row">
			<div id="introHeader">
				<h1>Help yourself to some serenity...</h1>
			</div>

			<div class="small-12 medium-12 large-4 columns">
				<div class="card">
					<div id="time-image"></div>
					<h2>Time</h2>
					<p>How much time do you have for a break, for new perspective?</p>
				</div>
			</div>
			
			<div class="small-12 medium-12 large-4 columns">
				<div class="card">
					<div id="location-image"></div>
					<h2>Location</h2>
					<p>What are you doing, and where on Earth are you doing it?</p>
				</div>
			</div>

			<div class="small-12 medium-12 large-4 columns">
				<div class="card">
					<div id="mood-image"></div>
					<h2>Mood</h2>
					<p>How are you feeling right now, or how do you want to feel?</p>
				</div>
			</div>

		</div>

		<div class="push"></div>

	</div>


	<div id="selection">
		<div class="row">
			<div id="introHeader">
				<h1>Which path will you take?</h1>
			</div>


			<div class="small-12 medium-4 large-4 columns">
				<div class="field">
				  	<select class="dropdown" id="Tag1">
						<option selected disabled value="undefined">Time</option>
						
						<% @tags.each do |tag| %>
							<% if tag.name.include? "!" %>
				        		<option value= "<%= tag.name %>" ><%= link_to tag.name.tr("!", ''), tag_path(tag.name) %> </option>
				        	<% end %>
				    	<% end %>
				  	</select>
				</div>
			</div>
				
			<div class="small-12 medium-4 large-4 columns">
				<div class="field">
					<select class="dropdown" id="Tag2">
						<option selected disabled value="undefined">Location</option>
						
			    		<% @tags.each do |tag| %>
							<% if tag.name.include? "@" %>
			        			<option value= "<%= tag.name %>" > <%= link_to tag.name.tr("@", ''), tag_path(tag.name) %> </option>
			   				 <% end %>
			   			<% end %>
		 			</select>
				</div>

			</div>

			<div class="small-12 medium-4 large-4 columns">
				<div class="field">
					<select class="dropdown" id="Tag3">
						<option selected disabled value="undefined">Mood</option>

		    			<% @tags.each do |tag| %>
			    			<% if tag.name.include? "$" %>
			       				<option value= "<%= tag.name %>" > <%= link_to tag.name.tr("$", ''), tag_path(tag.name) %> </option>
			       			<% end %>
		    			<% end %>
		  			</select>
				</div>
			</div>
		
			<div class="small-12 medium-12 large-12 columns">
				<div id="submit" class="button button_white">Breathe.</div>
			</div>
			<div class="push"></div>

		</div>

		<div id="foot">
			<a href="#background" id="logo">Mindful[Me]</a>
		</div>
	</div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>

<script>
function showURL() {
    var t1 = $("#Tag1").find(":selected").attr("value"),
        t2 = $("#Tag2").find(":selected").attr("value"),
        t3 = $("#Tag3").find(":selected").attr("value");

        
        if (t1 == "undefined" && t2 == "undefined" && t3 == "undefined") {url = encodeURI('/search');
    	document.location = url;}

        else if (t1 == "undefined" && t2 == "undefined") {url = encodeURI('/search/' + t3);
    	document.location = url;}

    	else if (t1 == "undefined" && t3 == "undefined") {url = encodeURI('/search/' + t2);
    	document.location = url;}

    	else if (t2 == "undefined" && t3 == "undefined") {url = encodeURI('/search/' + t1);
    	document.location = url;}

        else if (t1 == "undefined") {url = encodeURI('/search/' + t2 + "/" + t3);
    	document.location = url;}

    	else if (t2 == "undefined") {url = encodeURI('/search/' + t1 + "/" + t3);
    	document.location = url;}

        else if (t3 == "undefined") {url = encodeURI('/search/' + t1 + "/" + t2);
    	document.location = url;}


        else {url = encodeURI('/search/' + t1 + "/" + t2 + "/" + t3);
    	document.location = url;}

    
}

$('#submit').click(showURL);

</script>
