<%= render partial: "layouts/sidebar" %>

<div class="panelwrap tagsAdmin">

	<%= render partial: "layouts/header" %>

	<div class="row">

		<div class="small-12 columns" id="tagsList">

			<h3>Edit Tag</h3>

			<div class="row text-center">
			  <%= form_for (@tag) do |f| %>

			    <div class="large-10 large-centered columns">
			      <%= f.text_field :name, placeholder: "Name" %>
			    </div>
			    <div class="large-10 large-centered columns">
			      <%= f.submit "Submit", class: "button button_highlight"%>
			    </div>
			  <% end %>
			</div>

		</div>
	</div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>