<div class="row">
  <div class="new_form">
  
  <div class="small-12 small-centered medium-10 medium-centered columns">
    <h3>New Exercise</h3>
  </div> 

  <%= form_for(Post.new, remote: true) do |f| %>
    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.text_field :author, placeholder: "Exercise Name", :required => 'required' %>
    </div>
    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.text_area :content, placeholder: "Exercise Description", :required => 'required' %>
    </div>
    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags", :required => 'required' %>
    </div>

    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.text_area :step, placeholder: "Step 1" %>
    </div>

    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.text_area :step2, placeholder: "Step 2" %>
    </div>

    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.text_area :step3, placeholder: "Step 3" %>
    </div>

    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.file_field :thumbnail, placeholder: "Image", :required => 'required' %>
    </div>

    <div class="small-12 small-centered medium-10 medium-centered columns">
      <%= f.submit "Save", class: "button button_highlight"%>
    </div>
  <% end %>
</div>
</div>