<%= div_for post do %>
<div class= "small-12 medium-12 large-6 columns" id="posts">
  <div class="post-tile mt">

    <%= image_tag post.thumbnail.url(:medium), class: "thumbnail" %>


     <div class="tags"><%=raw tag_links(post.all_tags)%></div>

    <strong><%= link_to post.author, post_path(post.author) %></strong><br/>


    <sup class="text-muted">From <%= time_ago_in_words(post.created_at)%></sup><br />
      <p><%= post.content %></p>
  </div>
</div>
<% end %>
