<div class="row text-center">
  <%= form_for (@post) do |f| %>
    <div class="large-10 large-centered columns">
      <%= f.text_field :author, placeholder: "Pose Name" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_area :content, placeholder: "Pose Description", rows: 4 %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.submit "Submit", class: "button"%>
    </div>
  <% end %>
</div>