<%= render partial: "layouts/sidebar" %>

<div class="panelwrap">
<div class="edit_background post_form">
  <%= render partial: "layouts/header" %>
  <div class="row">
    <div class="edit_form">

          <div class="small-12 small-centered medium-10 medium-centered columns">
            <h3>Edit Exercise</h3>
          </div> 


          <%= form_for (@post) do |f| %>
            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.text_field :author, placeholder: "Pose Name" %>
            </div>
            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.text_area :content, placeholder: "Pose Description", rows: 4 %>
            </div>
            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.text_field :all_tags, placeholder: "Tags" %>
            </div>

            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.text_area :step, placeholder: "Step 1" %>
            </div>

            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.text_area :step2, placeholder: "Step 2" %>
            </div>

            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.text_area :step3, placeholder: "Step 3" %>
            </div>

            <div class="small-12 small-centered medium-10 medium-centered columns">
              <%= f.file_field :thumbnail, placeholder: "Image" %>
            </div>

            <div class="small-12 small-centered medium-10 medium-centered columns">
            <%= f.submit "Save", class: "button button_highlight"%>
            </div>
          <% end %>

      </div>
  </div>

      
      <div class="push"></div>


      <div class="foot">
        <a href="#background" class="logo">Mindful[Me]</a>
      </div>
  </div>
</div>


<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>