<div class="wrapper">

	<div id="create_banner">
		<%= render partial: "layouts/header" %>

		<div class="row">
			<div class="small-0 large-6 columns"></div>
			  <div class="small-12 medium-6 large-6 columns">
			      <div class="form">
			        <%= render partial: "posts/new" %>
			      </div>
			  </div>
			</div>
			<%= link_to "Tag Admin", tags_path, id:"tagAdmin" %>
		</div>



	<div class="row">

	    <div class= "small-12 columns" id="posts-grid">
	      <%= render partial: @posts.reverse %>
	    </div>

	</div>

	<p id="notice"><%= notice %></p>



	<div class="push"></div>


	<div class="foot">
		<a href="#background" class="logo">Mindful[Me]</a>
	</div>

</div>
