<%= render partial: "layouts/sidebar" %>

<div class="panelwrap">

<div class="show_background">
<%= render partial: "layouts/header" %>

  <div class="wrapper_wide">    

    <div class="small-12 columns post-show" style="padding: 2rem;">

    
      
      <div class="postHeader">
      <%= image_tag @post.thumbnail.url(:large), class: "thumbnail" %>
      <h2> <%= @post.author %> </h2>
      <div class="tags"><%=raw tag_links(@post.all_tags)%></div>
      </div>

      <br><br>
      
        <p><%= @post.content %></p>

        <div id="step1">
        <p><%= @post.step %></p>
        </div>

        <div id="step2">
        <p><%= @post.step2 %></p>
        </div>

        <div id="step3">
        <p><%= @post.step3 %></p>
        </div>

      
      <div class="controls">
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>
  </div>

  <div class="push"></div>


  <div class="foot">
    <a href="#background" class="logo">Mindful[Me]</a>
  </div>
</div>

</div>

<label for="sidebar-checkbox" class="sidebar-toggle toggle-dark"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>